{
  "extends": "xo/esnext",
  "plugins": [
	"html",
	"ava"
  ],
  "rules": {
	"new-cap": [
	  2,
	  {
		"capIsNewExceptions": [
		  "Polymer",
		  "Polymer.MutableData",
		  "Polymer.GestureEventListeners"
		]
	  }
	],
	"capitalized-comments": [0]
  }
}
